<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our recommendations</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/book1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rectangle img-fluid" src="../../assets/img/book1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3>Popular in Horror</h3>
                    </div>
                    <div class="timeline-heading">
                        <h5>Tender is the Flesh</h5>
                    </div>
                    <div class="timeline-heading">
                        <h6>by Agustina Baztericcs</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Working at the local processing plant, Marcos is in the business 
                            of slaughtering humans. His wife has left him, his father is sinking into dementia, 
                            and Marcos tries not to think too hard about how he makes a living. After all, 
                            he becomes tortured by what has been lost—and what might still be saved.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/book2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rectangle img-fluid" src="../../assets/img/book2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3>Popular in Fantasy</h3>
                    </div>
                    <div class="timeline-heading">
                        <h5>The Poppy War #1</h5>
                    </div>
                    <div class="timeline-heading">
                        <h6>by R.F. Kuang</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">An epic historical military fantasy, inspired by the bloody history of China’s 
                            twentieth century and filled with treachery and magic. When Rin aced the Keju—the Empire-wide test
                            to find the most talented youth to learn at the Academies—it was a shock to everyone. </p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/book3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rectangle img-fluid" src="../../assets/img/book3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3>New in Fiction</h3>
                    </div>
                    <div class="timeline-heading">
                        <h5>Chain-Gang All-Stars</h5>
                    </div>
                    <div class="timeline-heading">
                        <h6>by Nana Kwame Adjei-Brenyah</h6>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Two top women gladiators fight for their freedom within a depraved private 
                            prison system not so far-removed from America's own. Loretta Thurwar and Hamara "Hurricane 
                            Staxxx" Stacker are the stars of Chain-Gang All-Stars, a highly-controversial, profit-raising 
                            program in America's increasingly dominant private prison industry.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Read
                        <br />
                         With
                        <br />
                        Us!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>